- add_to_breadcrumbs _("Packages"), project_packages_path(@project)
- add_to_breadcrumbs @package.name, project_packages_path(@project)
- breadcrumb_title @package.version
- page_title _("Packages")

.row
  .col-12
    #js-vue-packages-detail{ data: { package: @package.to_json(include: [:maven_metadatum, :package_files]),
      package_files: @package_files.to_json(methods: :download_path),
      can_delete: can?(current_user, :destroy_package, @project).to_s,
      destroy_path: project_package_path(@project, @package),
      svg_path: image_path('illustrations/no-packages.svg'),
      npm_path: npm_package_registry_url,
      npm_help_path: help_page_path('user/packages/npm_registry/index'),
      package_file_download_path: download_project_package_file_path(@project, @package_files.first) } }
